@use "fonts.scss";

:root {
  --color-red: #F2A297;
  --color-orange: #F9A372;
  --color-yellow: #FFCB66;
  --color-green: #ADD6B8;
  --color-purple: #CCB6DC;
  --color-light-gray: #757375;
  --color-default-white: #FFFAF2;
  --color-default-black: #2E2B2F;

  --br-xxs: 0.4rem;
  --br-xs: 1.2rem;
  --br-s: 1.6rem;
  --br-m: 6.4rem;
  --br-xl: 50%;
  --border-base: 0.2rem solid var(--color-default-black);
  --border-small: 0.1rem solid var(--color-default-black);


  --color-hover-red: #E28174;
  --color-hover-orange: #EE8E58;
  --color-hover-yellow: #F5BE53;
  --color-hover-green: #8DC99D;
  --color-hover-purple: #B189CE;

  //themes
  --color-main: var(--color-yellow);
  --color-hover-main: var(--color-hover-yellow);
}

html {
  font-size: min(calc(100vw / 1440 * 10), 16px);
  color: var(--color-default-black);
  background-color: var(--color-default-white);

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}