@import "global";

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  padding: 4rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.8rem;
  }

  &__navigation {
    background: var(--color-main);
    border-radius: var(--br-m);
    width: 109.8rem;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: start;
    border: var(--border-base);

    &-list {
      display: flex;
      gap: 5.2rem;
      align-items: center;
      justify-content: center;
      margin-left: 32rem;
    }
  }

  &__icon {
    color: var(--color-default-black)
  }
}

.button {
  &--transparent {
    background: transparent;
    color: var(--color-default-black);
    border: 2px solid transparent;
  }

  &--primary {
    background: var(--color-main);
    color: var(--color-default-black);
    border: var(--border-base);
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: var(--br-m);
    border: 2px solid transparent;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: var(--color-default-white);
      color: var(--color-default-black);
      border: var(--border-base);
    }

    .button__icon {
      width: 3.6rem;
      height: 3.6rem;
      aspect-ratio: 1 / 1;
    }
  }

  &-header--alt {
    padding: 1.33rem;
    border-radius: var(--br-m);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: #f8c25a;
    }

    .button__icon {
      width: 3.1rem;
      height: 3.1rem;
      aspect-ratio: 1 / 1;
    }
  }
}

.theme {
  &-pill {
    background: var(--color-default-white);
    border-radius: var(--br-m);
    border: var(--border-base);
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding: 0.9rem 1.4rem;
    margin-left: -3rem;
  }

  &-color {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border: var(--border-small);

    &.button {
      &--yellow {
        background: var(--color-yellow);
      }

      &--green {
        background: var(--color-green);
      }

      &--red {
        background: var(--color-red);
      }

      &--purple {
        background: var(--color-purple);
      }

      &--orange {
        background: var(--color-orange);
      }
    }
  }
}

.card {
  width: 27.8rem;
  height: 27.8rem;
  border-radius: 3.2rem;
  border: var(--border-base);
  background: var(--color-default-white);
  overflow: hidden;
  transition: height 0.3s ease;
  margin: 0 auto;
  display: grid;

  &:hover {
    height: 36.7rem;
  }

  &__inner {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 24.6rem;
    aspect-ratio: 1 / 1;
    border-radius: 2.4rem;
  }

  &__content {
    opacity: 0;
    padding: 0.5rem;
  }

  &:hover &__content {
    opacity: 1;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--black);
    padding: 1.2rem 0 1.5rem 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    color: #6a676b;

  }
}

.button--card {
  .button__icon {
    width: 2.8rem;
    height: 2.8rem;
  }
}
